.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  margin: 20px 496px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    font-weight: normal;
    margin-right: 296px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 76px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}